<mat-toolbar color="bg-navbar">
    <mat-toolbar-row>
        <div [routerLink]="['/home']" class="flex items-center">
            <mat-icon class="mr-2">home</mat-icon>
            <span>Frases míticas</span>
        </div>
        <span class="spacer"></span>
        <button [matMenuTriggerFor]="menu" #menuTrigger class="mr-5 flex justify-center align-middle">
            <mat-icon class="icon">account_circle</mat-icon>
        </button>

        <mat-menu class="text-center" #menu="matMenu">
            <a class="text-white" [routerLink]="['/settings']">Ajustes</a>
        </mat-menu>

        <button (click)="logout()" class="mr-5 flex justify-center align-middle">
            <mat-icon class="icon">logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
