<mat-toolbar color="bg-navbar">
    <mat-toolbar-row>
        <span>Frases míticas</span>
        <span class="spacer"></span>
        <button>
            <mat-icon class="icon mr-3">account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialog()">Open dialog</button>
        </mat-menu>

        <button (click)="logout()" class="flex justify-center align-middle">
            <mat-icon class="icon">logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
