<div class="h-5/6 grid content-center" id="form">
    <form [formGroup]="phraseForm" class="flex flex-col content-center w-full p-5">
        <mat-form-field>
            <mat-label for="author">Autor</mat-label>
            <input id="author" type="text" matInput placeholder="Autor" formControlName="author" [value]="currentPhrase.author" required>
            @if (errorEmptyAuthor) { <mat-error>Debes indicar un autor</mat-error> }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Usuarios involucrados</mat-label>
            <mat-select formControlName="users" multiple (selectionChange)="autocompleteAuthors($event)">
                <mat-select-trigger>
                    {{ currentPhrase.users && currentPhrase.users.length > 0 ? currentPhrase.users[0].username : '' }}
                    @if (currentPhrase.users && currentPhrase.users.length > 1) {
                        <span>
                            (+{{(currentPhrase.users.length) - 1}} {{currentPhrase.users.length === 2 ? 'otro' : 'otros'}})
                        </span>
                    }
                </mat-select-trigger>
                @for (user of usersList; track $index) {
                    <mat-option [value]="user">
                        <div class="flex align-middle">
                            <img class="rounded-xl w-5 mr-2" [src]="user.profilePictureUrl" [alt]="user.username">
                            <span>{{ user.username }}</span>
                        </div>
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" [value]="currentPhrase.date" (dateChange)="updateDate($event)">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="text">Frase mítica</mat-label>
            <textarea matInput placeholder="Frase mítica..." formControlName="text" [value]="currentPhrase.text" required></textarea>
            @if (errorEmptyText) { <mat-error>Debes indicar la frase mítica</mat-error> }
        </mat-form-field>

        <mat-form-field>
            <mat-label for="context">Contexto</mat-label>
            <textarea matInput placeholder="Contexto..." formControlName="context" [value]="currentPhrase.context"></textarea>
        </mat-form-field>

        <button
            mat-button
            mat-flat-button
            color="primary"
            (click)="editPhrase()"
        >
            <mat-icon>edit</mat-icon>
            Editar
        </button>
    </form>
</div>
