<app-navbar />
<div class="h-5/6 grid content-center" id="form">
    <form [formGroup]="userForm" class="flex flex-col content-center mx-auto w-full p-5 lg:p-0 lg:w-5/12">
        <h1 class="text-4xl text-center mb-4 text-white">Inicio de sesión</h1>

        <mat-form-field>
            <mat-label for="username">Nombre de usuario</mat-label>
            <input id="username" type="text" matInput placeholder="Nombre de usuario" formControlName="username" required>
            @if (errorEmptyUsername) { <mat-error>Debes indicar un nombre de usuario</mat-error> }
            @if (errorLogin) { <mat-error>Usuario o contraseña inválidos</mat-error> }
        </mat-form-field>

        <mat-form-field>
            <mat-label for="password">Contraseña</mat-label>
            <input id="password" type="password" matInput placeholder="Contraseña" formControlName="password" required>
            @if (errorEmptyPassword) { <mat-error>Debes indicar una contraseña</mat-error> }
            @if (errorLogin) { <mat-error>Usuario o contraseña inválidos</mat-error> }
        </mat-form-field>

        <button
            mat-button
            mat-flat-button
            color="primary"
            (click)="onLogin()"
        >
            <mat-icon>login</mat-icon>
            Iniciar sesión
        </button>
    </form>
</div>
