<app-navbar />

<div class="fgrid content-center h-5/6">
    <form [formGroup]="changePasswordForm" class="flex flex-col content-center mx-auto w-full p-2 xl:w-2/4">
        <h2 class="text-light dark:text-white text-center text-3xl text mb-4">Cambiar contraseña</h2>

        <mat-form-field>
            <mat-label for="oldPassword">Contraseña antigua</mat-label>
            <input id="oldPassword" type="password" matInput placeholder="Contraseña antigua" formControlName="oldPassword" required>
            @if (emptyOldPassword) { <mat-error>Debes indicar tu antigua contraseña</mat-error> }
        </mat-form-field>

        <mat-form-field>
            <mat-label for="newPassword">Nueva contraseña</mat-label>
            <input id="newPassword" type="password" matInput placeholder="Nueva contraseña" formControlName="newPassword" required>
            @if (emptyNewPassword) { <mat-error>Debes indicar la nueva contraseña</mat-error> }
        </mat-form-field>

        <mat-form-field>
            <mat-label for="newPasswordConfirm">Repite la nueva contraseña</mat-label>
            <input id="newPasswordConfirm" type="password" matInput placeholder="Repite la nueva contraseña" formControlName="newPasswordConfirm" required>
            @if (emptyNewPasswordConfirm) { <mat-error>Debes repetir la nueva contraseña</mat-error> }
            @if (error !== '') { <mat-error>{{ error }}</mat-error> }
        </mat-form-field>

        <button
            mat-button
            mat-flat-button
            color="primary"
            (click)="onChangePassword()"
        >
            <mat-icon>edit</mat-icon>
            Cambiar contraseña
        </button>
    </form>
</div>
