<mat-card class="example-card dark:text-white">
	<mat-card-header class="flex justify-between align-middle">
        <mat-card-title>
            <div>
                {{ phrase.author }}
            </div>
        </mat-card-title>
        <mat-card-subtitle>
            {{ phrase.date | date: 'dd/MM/yyyy' }} - {{ numLikes }} likes
        </mat-card-subtitle>
		<div class="user-pic-container">
            @for (involvedUser of phrase.involvedUsers; track $index) {
                <ng-container>
                    <img class="user-pic" [src]="involvedUser.profilePictureUrl" />
                </ng-container>
            }
        </div>
	</mat-card-header>
	<mat-card-content>
		<p class="text-center text-xl m-4">"{{ phrase.text }}"</p>
		<p class="text-gray-700 dark:text-gray-300">{{ phrase.context }}</p>
	</mat-card-content>
	<mat-card-actions class="flex justify-between">
        <div>
            <app-reaction-button
                [idPhrase]="phrase.id"
                [reactions]="phrase.reactions"
            />

            <button mat-button (click)="viewComments()">
                <mat-icon>question_answer</mat-icon>
                ({{ phrase.commentCount }})
            </button>
        </div>
        @if (isAdmin) {
            <div>
                <button mat-button (click)="edit()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button (click)="delete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        }
	</mat-card-actions>
</mat-card>
