<app-navbar />

<div class="w-full">
    <form [formGroup]="searchForm" class="flex justify-center pt-5">
        <mat-form-field class="w-11/12 xl:w-2/4">
            <input id="search" (keyup)="search(true)" matInput type="search" placeholder="Búsqueda por texto..." formControlName="search">
            <button matSuffix (click)="search(false)" class="pr-3">
                <mat-icon class="dark:text-white">search</mat-icon>
            </button>
        </mat-form-field>
    </form>
</div>

<div class="flex flex-col xl:flex-row justify-center align-middle xl:justify-end xl:mr-64">

    <div class="flex flex-col justify-end p-4 xl:p-0">
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="phraseMng.length"
            [pageSize]="itemsPerPage"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true"
            aria-label="Select page"
        >
        </mat-paginator>
        <br>
        <div class="flex flex-1 justify-center align-middle">
            <button mat-flat-button color="primary" class="w-full mr-1" [matMenuTriggerFor]="menu">Filtrar <mat-icon>filter_list</mat-icon></button>
            <mat-menu class="p-2" #menu="matMenu" xPosition="after">
                <mat-form-field class="w-full">
                    <mat-label>Autor</mat-label>
                    <mat-select #authorSelect multiple (selectionChange)="onFilter($event)" (click)="$event.stopPropagation()">
                        <mat-select-trigger>
                            {{ userFilter.length > 0 ? userFilter[0].username : '' }}
                            @if (userFilter.length > 1) {
                                <span>
                                    (+{{(userFilter.length) - 1}} {{ userFilter.length === 2 ? 'otro' : 'otros'}})
                                </span>
                            }
                        </mat-select-trigger>
                        @for (user of usersList; track $index) {
                            <mat-option [value]="user">
                                <div class="flex align-middle">
                                    <img class="rounded-xl w-5 mr-2" [src]="user.profilePictureUrl" [alt]="user.username">
                                    <span>{{ user.username }}</span>
                                </div>
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Desde</mat-label>
                    <input #inputFrom matInput [matDatepicker]="pickerFrom" [value]="dateFrom" (dateChange)="filterFrom($event)">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Hasta</mat-label>
                    <input #inputTo matInput [matDatepicker]="pickerTo" [value]="dateTo" (dateChange)="filterTo($event)">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>

                <button class="w-full" mat-flat-button color="accent" (click)="clearFilter()">Limpiar</button>
            </mat-menu>

            <button mat-flat-button color="primary" class="w-full ml-1" (click)="addPhrase()">Añadir frase <mat-icon>add</mat-icon></button>
        </div>
    </div>
</div>

@if (phraseMng.loading) {
    <div class="flex justify-center align-middle mt-60">
        <mat-spinner></mat-spinner>
    </div>
}

@if (phraseMng.phrases.length === 0 && !phraseMng.loading) {
    <h1 class="text-center text-light dark:text-white text-5xl mt-20">No hay ninguna frase para mostrar</h1>
}

<div class="mt-4 m-auto grid grid-cols-1 md:grid-cols-2 gap-4 p-5 xl:max-w-screen-xl">
    @for (phrase of phraseMng.phrases; track $index) {
        <app-card [phrase]="phrase" (reloadPhrases)="onRealoadPhrases($event)" />
    }
</div>

<div class="flex justify-end align-middle mr-10 xl:mr-40">
    <button class="flex justify-center align-middle mb-10 p-5 up-button" (click)="scrollToTop()">
        <mat-icon class="dark:text-white up-icon">expand_less</mat-icon>
    </button>
</div>
